<form class="flex flex-col gap-4" (ngSubmit)="onSubmit()" [formGroup]="form">
  <app-profile-input
    inputId="currentPassword"
    [control]="form.controls['currentPassword']"
    label="Current Password"
    formControlName="currentPassword"
    inputType="password"
    [errors]="[
      { error: 'required', message: '*Password is required' },
      {
        error: 'password',
        message: '*unauthorized password, please enter your current Password',
      },
    ]"
  />

  <app-profile-input
    inputId="password"
    [control]="form.controls['password']"
    formControlName="password"
    label="New Password"
    inputType="password"
    [errors]="[
      { error: 'required', message: '*Password is required' },
      {
        error: 'password',
        message:
          '*Password must be at least 8 characters and include uppercase, lowercase, number, and special character',
      },
    ]"
  />

  <app-profile-input
    inputId="rePassword"
    [control]="form.controls['rePassword']"
    label="Confirm New Password"
    formControlName="rePassword"
    inputType="password"
    [errors]="[
      { error: 'required', message: '*Please confirm your password' },
      { error: 'compare', message: '*Passwords do not match' },
    ]"
  />

  <!-- Submit Button -->
  <button
    class="flex items-center gap-2 self-start rounded-xl bg-orange-500 px-6 py-3 text-sm font-semibold text-white shadow-lg shadow-orange-300 transition-colors hover:bg-orange-600"
  >
    @if (isLoading()) {
      <i class="fa-solid fa-spinner animate-spin"></i>
    }

    <i class="fa-solid fa-lock text-sm"></i>
    Change Password
  </button>
</form>
