<section class="sticky top-20 h-fit rounded-2xl border border-gray-100 shadow-2xl">
  <h2 class="text-secondary-500 border-b border-gray-200 p-5 text-xl font-semibold">My Account</h2>

  <ul class="p-2">
    <li class="mb-1">
      <a
        [routerLink]="['/profile', 'addresses']"
        routerLinkActive="bg-primary-100/50!  text-primary-500!"
        class="group flex cursor-pointer items-center justify-between rounded-xl p-3 transition duration-300 hover:bg-gray-100"
      >
        <div class="flex items-center gap-3 font-semibold">
          <span
            routerLinkActive="bg-primary-400! text-white!"
            class="flex h-8 w-8 items-center justify-center rounded-sm bg-gray-100 text-gray-500 transition duration-300 group-hover:bg-gray-200"
          >
            <i class="fa-solid fa-location-dot"></i>
          </span>
          My Addresses
        </div>
        <i class="fa-solid fa-chevron-right"></i>
      </a>
    </li>

    <li>
      <a
        [routerLink]="['/profile', 'settings']"
        routerLinkActive="bg-primary-100/50!  text-primary-500!"
        class="group flex cursor-pointer items-center justify-between rounded-xl p-3 transition duration-300 hover:bg-gray-100"
      >
        <div class="flex items-center gap-3 font-semibold">
          <span
            routerLinkActive="bg-primary-400! text-white!"
            class="flex h-8 w-8 items-center justify-center rounded-sm bg-gray-100 text-gray-500 transition duration-300 group-hover:bg-gray-200"
          >
            <i class="fa-solid fa-gear"></i>
          </span>
          Settings
        </div>
        <i class="fa-solid fa-chevron-right"></i>
      </a>
    </li>
  </ul>
</section>
