<section class="flex flex-col items-center gap-5 text-center">
  <div class="w-full max-w-2xl rounded-2xl">
    <img
      src="/assets/images/freshVegetablesAndFruits.png"
      alt="fresh vegetables and fruits shopping cart illustration, modern clean style, green theme"
      class="w-full object-cover object-bottom"
    />
  </div>

  <h2 class="text-secondary-800 text-3xl font-bold xl:text-4xl">
    FreshCart - Your One-Stop Shop for Fresh Products
  </h2>
  <p class="text-secondary-400 font-semibold xl:text-lg">
    Join thousands of happy customers who trust FreshCart for their daily grocery needs
  </p>
  <div class="flex items-center justify-center gap-6">
    <span class="text-secondary-500 flex items-center gap-1.5 text-xs">
      <i class="fa-solid fa-truck-fast text-primary-500"></i> Free Delivery
    </span>
    <span class="text-secondary-500 flex items-center gap-1.5 text-xs">
      <i class="fa-solid fa-shield-halved text-primary-500"></i> Secure Payment
    </span>
    <span class="text-secondary-500 flex items-center gap-1.5 text-xs">
      <i class="fa-solid fa-headset text-primary-500"></i> 24/7 Support
    </span>
  </div>
</section>
