<section class="flex h-full flex-col gap-6">
  <!-- Title -->
  <div>
    <h1 class="text-secondary-800 mb-1 text-2xl font-extrabold md:text-3xl">
      Welcome to <span class="text-primary-500">FreshCart</span>
    </h1>
    <p class="text-secondary-400">
      Join thousands of happy customers who enjoy fresh groceries delivered right to their doorstep.
    </p>
  </div>

  <!-- Features -->
  <div class="flex flex-col gap-4">
    <div class="flex items-start gap-3">
      <div
        class="text-primary-500 bg-primary-100 flex h-10 w-10 shrink-0 items-center justify-center rounded-full"
      >
        <i class="fa-solid fa-star"></i>
      </div>
      <div>
        <p class="text-secondary-700 font-bold">Premium Quality</p>
        <p class="text-secondary-400 text-sm">
          Premium quality products sourced from trusted suppliers.
        </p>
      </div>
    </div>

    <div class="flex items-start gap-3">
      <div class="bg-primary-100 flex h-10 w-10 shrink-0 items-center justify-center rounded-full">
        <i class="fa-solid fa-truck-fast text-primary-500"></i>
      </div>
      <div>
        <p class="text-secondary-700 font-bold">Fast Delivery</p>
        <p class="text-secondary-400 text-sm">Same-day delivery available in most areas</p>
      </div>
    </div>

    <div class="flex items-start gap-3">
      <div class="bg-primary-100 flex h-10 w-10 shrink-0 items-center justify-center rounded-full">
        <i class="fa-solid fa-shield-halved text-primary-500"></i>
      </div>
      <div>
        <p class="text-secondary-700 font-bold">Secure Shopping</p>
        <p class="text-secondary-400 text-sm">Your data and payments are completely secure</p>
      </div>
    </div>
  </div>

  <!-- Testimonial -->
  <figure class="flex flex-col gap-3 rounded-2xl border border-gray-100 p-4 shadow-lg">
    <div class="flex items-center gap-3">
      <div class="text-2xs h-10 w-10 shrink-0 rounded-full">
        <img
          src="/assets/images/alex-johnson.webp"
          alt="Alex johnson photo"
          class="w-full rounded-full object-cover"
        />
      </div>
      <div>
        <p class="text-secondary-700 font-bold">Alex Johnson</p>
        <div class="flex items-center gap-0.5">
          <i class="fa-solid fa-star text-xs text-yellow-400"></i>
          <i class="fa-solid fa-star text-xs text-yellow-400"></i>
          <i class="fa-solid fa-star text-xs text-yellow-400"></i>
          <i class="fa-solid fa-star text-xs text-yellow-400"></i>
          <i class="fa-solid fa-star text-xs text-yellow-400"></i>
        </div>
      </div>
    </div>
    <blockquote class="text-secondary-500 text-sm leading-relaxed italic">
      "FreshCart has transformed my shopping experience. The quality of the products is outstanding,
      and the delivery is always on time. Highly recommend!"
    </blockquote>
  </figure>
</section>
