<!-- email -->
@if (step() === 1) {
  <div class="flex flex-col gap-4">
    <!-- Email -->
    <app-auth-input
      [formControl]="emailControl"
      inputType="email"
      label="Email*"
      inputId="email"
      [control]="emailControl"
      [errors]="[
        { error: 'required', message: '*Email is required' },
        { error: 'email', message: '*Invalid email address' },
      ]"
    />

    <!-- Submit Button -->
    <app-auth-submit-button
      text="Send Reset Code"
      (onSubmit)="onSubmit()"
      [isLoading]="isLoading()"
    />
  </div>
}

<!-- Verification Code -->
@if (step() === 2) {
  <div #formElements class="flex flex-col gap-4">
    <!-- Verification Code  -->
    <app-auth-input
      [formControl]="verificationCodeControl"
      inputType="text"
      label="Verification Code*"
      inputId="verification"
      [control]="verificationCodeControl"
      [maxLength]="6"
      inputClass="text-center! text-2xl! tracking-[0.5em]"
      [errors]="[
        { error: 'required', message: '*Reset code is required' },
        { error: 'minLength', message: '*Reset code must be 6 digits' },
        { error: 'maxLength', message: '*Reset code must be 6 digits' },
      ]"
    />
    <!-- resend code Button -->
    <p class="text-secondary-500 text-center text-sm">
      Didn't receive the code?
      <button
        (click)="onResendCode()"
        class="text-primary-500 hover:text-primary-600 cursor-pointer font-semibold"
      >
        Resend Code
      </button>
    </p>

    <!-- Submit Button -->
    <app-auth-submit-button text="Verify Code" (onSubmit)="onSubmit()" [isLoading]="isLoading()" />

    <!--  Change email address Button -->
    <div class="mb-2 text-center">
      <button
        (click)="onChangeEmail()"
        class="text-primary-600 group hover:text-primary-700 text-sm font-medium transition-colors"
      >
        <i class="fa-solid fa-arrow-left mr-1 duration-300 group-hover:-translate-x-0.5"></i>
        Change email address
      </button>
    </div>
  </div>
}

<!-- Reset Password -->
@if (step() === 3) {
  <form [formGroup]="resetPasswordForm" class="flex flex-col gap-4">
    <!-- password -->
    <div class="flex flex-col gap-4">
      <app-auth-input
        [formType]="'signup'"
        formControlName="password"
        inputType="password"
        label="Password*"
        inputId="password"
        [autocomplete]="false"
        [control]="resetPasswordForm.get('password')"
        [errors]="[
          { error: 'required', message: '*Password is required' },
          {
            error: 'password',
            message:
              '*Password must be at least 8 characters and include uppercase, lowercase, number, and special character',
          },
        ]"
      />
    </div>

    <!-- rePassword -->
    <app-auth-input
      [formType]="'signup'"
      formControlName="rePassword"
      inputType="password"
      label="Confirm Password*"
      inputId="rePassword"
      [autocomplete]="false"
      [control]="resetPasswordForm.get('rePassword')"
      [errors]="[
        { error: 'required', message: '*Please confirm your password' },
        { error: 'compare', message: '*Passwords do not match' },
      ]"
    />

    <!-- Submit Button -->
    <app-auth-submit-button
      text="Reset Password"
      type="submit"
      (onSubmit)="onSubmit()"
      [isLoading]="isLoading()"
    />
  </form>
}

<!-- navigate to login -->
@if (step() === 4) {
  <app-auth-submit-button
    text="Back to Sign In"
    type="submit"
    (onSubmit)="onSubmit()"
    [isLoading]="isLoading()"
  />
}
