.thumbs-swiper {
  box-sizing: border-box;
  margin-top: 4px;
}

.thumbs-swiper swiper-slide {
  width: 25%;
  height: 100%;
  border: solid 1px transparent;
  border-radius: 10px;
  overflow: hidden;
  transition: border-color 0.5s;
}

.thumbs-swiper .swiper-slide-thumb-active {
  opacity: 1;
  border-color: var(--color-primary-500);
}
