<section
  class="container grid min-h-screen w-full gap-10 px-6 py-10 md:px-10 lg:grid-cols-[6fr_6fr] xl:grid-cols-[7fr_5fr]"
>
  <!-- hero -->
  <app-auth-forgot-password-hero />

  <!-- Right: Form -->
  <section class="flex h-fit flex-col gap-4 rounded-2xl border border-gray-100 px-5 py-8 shadow-md">
    <!-- Title -->
    <h2 class="text-center text-3xl font-extrabold">
      <span class="text-green-500">Fresh</span><span class="text-secondary-800">Cart</span>
    </h2>

    @if (step() === 4) {
      <span
        class="bg-primary-100/50 mx-auto flex h-20 w-20 items-center justify-center rounded-full text-2xl"
      >
        <i class="fa-solid fa-check text-primary-500"></i>
      </span>
    }

    <!-- form title -->
    <app-auth-form-title
      [title]="formTitle[step() - 1]"
      [text]="formTitleText[step() - 1]"
      textClass="text-center"
    />

    <!-- Stepper (steps) -->
    @if (step() !== 4) {
      <div class="flex items-center justify-center gap-0">
        <!-- Step-1 -->
        <div
          [class]="
            step() === 1
              ? 'border-primary-100 bg-primary-600 border-5 text-white'
              : step() > 1
                ? 'bg-primary-600 text-white'
                : 'border border-gray-200 bg-gray-100 text-gray-400'
          "
          class="flex h-12 w-12 shrink-0 items-center justify-center rounded-full transition-all duration-400 ease-in-out"
        >
          <i class="fa-solid fa-envelope text-base"></i>
        </div>

        <!-- Step-2 -->
        <div
          [class]="step() > 1 ? 'bg-primary-300 h-1' : 'h-px bg-gray-300'"
          class="max-w-15 flex-1 transition-all duration-400 ease-in-out"
        ></div>
        <div
          [class]="
            step() === 2
              ? 'border-primary-100 bg-primary-600 border-5 text-white'
              : step() > 2
                ? 'bg-primary-600 text-white'
                : 'border border-gray-200 bg-gray-100 text-gray-400'
          "
          class="flex h-12 w-12 shrink-0 items-center justify-center rounded-full transition-all duration-400 ease-in-out"
        >
          <i class="fa-solid fa-key text-base"></i>
        </div>

        <!-- Step-3 -->
        <div
          [class]="step() > 2 ? 'bg-primary-300 h-1' : 'h-px bg-gray-300'"
          class="max-w-15 flex-1 transition-all duration-400 ease-in-out"
        ></div>
        <div
          [class]="
            step() === 3
              ? 'border-primary-100 bg-primary-600 border-5 text-white'
              : 'border border-gray-200 bg-gray-100 text-gray-400'
          "
          class="flex h-12 w-12 shrink-0 items-center justify-center rounded-full transition-all duration-400 ease-in-out"
        >
          <i class="fa-solid fa-lock text-base"></i>
        </div>
      </div>
    }

    <!-- form -->
    <app-auth-forgot-password-form (formStep)="setFormStep($event)" (email)="setEmail($event)" />

    <!-- Register Link  -->
    @if (step() === 1) {
      <app-auth-form-footer-link
        [path]="['/login']"
        [queryParams]="{}"
        pathName="Sign In"
        text="Remember your password?"
      />
    }
  </section>
</section>
